
.bmchord {
	text-align:center;
	margin-left: 47%;
	margin-top:5%;
	height: 200px;
	width:100px;
	content:url("bmchord.png");
}

.cchord {
	text-align:center;
	margin-left: 47%;
	margin-top:5%;
	height: 200px;
	width:100px;
	content:url("cchord.png");
}

.dchord {
	text-align:center;
	margin-left: 50%;
	margin-top:5%;
	height: 200px;
	width:100px;
	content:url("dchord.png");
}

.emchord {
	text-align:center;
	margin-left: 47%;
	margin-top:5%;
	height: 200px;
	width:100px;
    content:url("emchord.png");
}

.gchord {
	text-align:center;
	margin-left: 47%;
	margin-top:5%;
	height: 200px;
	width:100px;
    content:url("gchord.png");
}

#verse{
	text-align:center;
	margin-left: 10%;
	margin-top:5%;
}